{% extends 'login/base_login.html' %}

{% load floppyforms %}

{% block title %}Login{% endblock %}
{% block content %}

    <div class="row">

    	<div class="span2"></div>
                
        <div class="span6">
            <h4>Login</h4>

			<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}

				{{ form }}

		        <div>
		            <a class="close" href="#" data-dismiss="alert">×</a>
		            <p><a href="{% url 'url_login_password_reset' %}">Forgot </a> your password?</p>
		        </div>

				<p><input type="submit" value="Login" class="btn btn-primary"></p>
			    
			    <input type="hidden" name="next" value="{{ next }}" />
			            
			</form>

        </div>
        
        
    </div>



{% endblock %}


