{% extends THEME_BASE %}

{% block title %}Django-Themes Demostration Site{% endblock %}
{% block site_name %}My-Django-Themes{% endblock %}

{% block navbar %}
	<li class="nav-link"><a href="#">Home</a></li>
	<li class="nav-link"><a href="{% url 'show_examples'%}">Examples</a></li>
	<li class="nav-link"><a href="{% url 'show_themes'%}">Themes</a></li>
	<li class="nav-link"><a href="/">Install</a></li>
	<li class="nav-link"><a href="/">About</a></li>


	{% if user.is_authenticated %}
	<li class="nav-link"><a href="{% url 'auth_logout' %}">Logout</a></li>
	{% else %}
	<li class="nav-link"><a href="{% url 'url_login_auth' %}">Login</a></li>
	<li class="nav-link"><button data-toggle="modal" href="#loginModal" class="btn font-bold">LoginModal</button></li>
	{% endif %}

{% endblock %}


{% block header %}
		 
    <h1>django-themes</h1>
    <p class="lead">Standard and pretting on templates django sites</p>
	<p>
		<a class="btn btn-large btn-primary" href="#">
			<i class="icon-star icon-white"></i> View on GitHub
		</a>
	</p>						
	<span>Let's create more themes...</span>
		  
{% endblock %}


{% block footer_top %}

    <p class="text-style2 span8">Contribute it yourself</p>

    {% include "login/login_modal.html" %}

{% endblock %}
			


{% block footer %}
<ul class="footer-menu span4">
    <li class="footer-link footer-title">Features</li>
	<li class="footer-link"><a href="#" title="">Seletor</a></li>
	<li class="footer-link"><a href="#" title="">Standard</a></li>
	<li class="footer-link"><a href="#">Easy to use</a></li>
    <li class="footer-link"><a href="#">Privacy Policy</a></li>
    <li class="footer-link last-link"><a href="/terms">Terms of Service</a></li>
</ul>
<ul class="footer-menu span4">
    <li class="footer-link footer-title">Community</li>
    <li class="footer-link"><a href="#" title="">GitHub</a></li>
    <li class="footer-link"><a href="#" title="">Twitter</a></li>
</ul>
{% endblock %}
