<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
		<link href="{{ STATIC_URL }}common/bootstrap2/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}themes/default/css/base.css" rel="stylesheet" media="screen">
        <title>{% block title %}Django-Themes{% endblock %}</title>
    </head>
	<body>

		<div id="body-area" class="container-fluid"> 

			<!-- 
			=== NAVBAR ===
			-->
			{% block navbar_area %}
				<div id="navbar-area" class="navbar navbar-inverse">
					<nav class="navbar-fixed-top">
					    <div class="navbar navbar-inner">
			                <ul class="nav">
			                	<a href="#" class="brand">Django-Themes</a>
								{% block navbar %}

								{% endblock %}
			                </ul>
					    </div>
					</nav>
				</div>
			{% endblock %}

			<!-- 
			=== HEADER ===
			-->
			{% block header_area %}
			<div id="header-area">
				<header>
					 <div class="mainheader">
					{% block header %}

					{% endblock %}
					</div>
				</header>
			</div>
			{% endblock %}

			<!-- 
			=== MAIN CONTENT === 
			-->
			{% block content_area %}
			<div id="container-area">
				<div id="content">
				{% block content %}

				{% endblock %}
				</div>
			</div>
			{% endblock %}

			<!-- 
			=== EXTRA CONTENT === 
			-->
			{% block extra_content_area %}
			{% endblock %}

			<!-- 
			=== FOOTER === 
			-->
			{% block footer_area %}
		    <footer id="footer-area">
				<div id="footerTop" class="hero-unit">	
					<div class="row-fluid">
                	{% block footer_top %}
                	
                    {% endblock %}	
                    </div>

					<div class="row-fluid">
					{% block footer %}

					{% endblock %}
					
					</div>
					<p class="footerBottom">Django-Themes - Powered by Bootstrap</p>
		    	</div>
		    </footer>
		    {% endblock %}

		</div>
		
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{ STATIC_URL }}common/bootstrap2/js/bootstrap.min.js"></script>
	</body>
</html>
