<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
		<link href="{{ STATIC_URL }}common/bootstrap2/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}themes/default/css/base.css" rel="stylesheet" media="screen">
        <title>{% block title %}Django-Themes{% endblock %}</title>
    </head>
	<body>

		<!-- 
		=== NAVBAR ===
		-->
		<div class="navbar navbar-inverse">

			{% block navbar %}

			{% endblock %}

		</div>

		<!-- 
		=== HEADER ===
		-->
		<header id="header">

			{% block header %}

			{% endblock %}

		</header>

		<!-- 
		=== MAIN CONTENT === 
		-->
		<div id="container">

			{% block content %}

			{% endblock %}

		</div>

		<!-- 
		=== FOOTER === 
		-->
	    <footer id="footer">
	    	<div class="well well-large">

				{% block footer %}

				{% endblock %}

		    	<div class="footerBottom">  <!-- navbar-fixed-bottom -->
					<p><small>Django-Themes - Powered by Bootstrap</small></p>
				</div>

	    	</div>
	    </footer>

		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{ STATIC_URL }}common/bootstrap2/js/bootstrap.min.js"></script>
	</body>
</html>
