<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
		<link href="{{ STATIC_URL }}common/bootstrap2/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}themes/default/css/base.css" rel="stylesheet" media="screen">
        <title>To-Do lists</title>
    </head>
	<body>

		<header id="header">

			<nav class="navbar-fixed-top">
			    <div class="navbar">

			    	<div class="navbar-inner">
		                <ul class="nav">
		                	<a href="#" class="brand">My Company</a>
		                    <li class="active"><a href="#">Home</a></li>
		                    <li><a href="#">About us</a></li>
		                    <li><a href="#">Services</a></li>
		                    <li><a href="#">Products</a></li>
		                    <li><a href="#">Contact us</a></li>
		                </ul>
				    </div>

										
			    </div>
			</nav>
			<br/><br/>

		</header>

		<div id="container">

			{% block content %}

			{% endblock %}

		</div>




	    <footer id="footer" class="footer">
	      	<nav class="navbar">  <!-- navbar-fixed-bottom -->
				<p class="pull-left">
					<pre>Street name, number, City/State  (04) 999 999 <a href="mailto: contact@themes.com">contact@themes.com</a>
					</pre>
				</p>
	    	</nav>
	    </footer>




		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{ STATIC_URL }}common/bootstrap2/js/bootstrap.min.js"></script>
	</body>
</html>
