{% extends 'site_base.html' %}

{% block content %}

<div class="row-fluid">
	
	<div class="span12">

		<div class="hero-unit" align="center">
			<h1>Heading</h1>
			<p>Tagline</p>
			<p>
				<a class="btn btn-primary btn-large">
				Learn more
				</a>
			</p>
		</div>


	    <div>

			<h1>Title2</h1>
			<h1>{{THEME_NAME}}</h1>
			<h2>{{THEME_NAME}}</h2>
			<h3>{{THEME_NAME}}</h3>
			<h4>{{THEME_NAME}}</h4>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>

			<h1>Title3</h1>
			<h1>{{THEME_NAME}}</h1>
			<h2>{{THEME_NAME}}</h2>
			<h3>{{THEME_NAME}}</h3>
			<h4>{{THEME_NAME}}</h4>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>

			<h1>Title4</h1>
			<h1>{{THEME_NAME}}</h1>
			<h2>{{THEME_NAME}}</h2>
			<h3>{{THEME_NAME}}</h3>
			<h4>{{THEME_NAME}}</h4>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>

			<h1>Title5</h1>
			<h1>{{THEME_NAME}}</h1>
			<h2>{{THEME_NAME}}</h2>
			<h3>{{THEME_NAME}}</h3>
			<h4>{{THEME_NAME}}</h4>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>

			<h1>Title6</h1>
			<h1>{{THEME_NAME}}</h1>
			<h2>{{THEME_NAME}}</h2>
			<h3>{{THEME_NAME}}</h3>
			<h4>{{THEME_NAME}}</h4>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>


	    </div>

	    <div class="well well-large" >
			<h1>Title1</h1>
			<h1>{{THEME_NAME}}</h1>
			<h2>{{THEME_NAME}}</h2>
			<h3>{{THEME_NAME}}</h3>
			<h4>{{THEME_NAME}}</h4>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>
			<p>asdadadasdasdsad</p>
	    </div>		    
	    
	</div>

</div>

<div class="row-fluid">


	<div class="span6">
		<h1>Title7.1</h1>
		<h1>{{THEME_NAME}}</h1>
		<h2>{{THEME_NAME}}</h2>
		<h3>{{THEME_NAME}}</h3>
		<h4>{{THEME_NAME}}</h4>
		<p>asdadadasdasdsad</p>
		<p>asdadadasdasdsad</p>
		<p>asdadadasdasdsad</p>
	</div>

	<div class="span6">
		<h1>Title7.2</h1>
		<h1>{{THEME_NAME}}</h1>
		<h2>{{THEME_NAME}}</h2>
		<h3>{{THEME_NAME}}</h3>
		<h4>{{THEME_NAME}}</h4>
		<p>asdadadasdasdsad</p>
		<p>asdadadasdasdsad</p>
		<p>asdadadasdasdsad</p>
	</div>

</div>

{% endblock %}
