<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
		<link href="{{ STATIC_URL }}common/bootstrap2/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}themes/revolution/css/base.css" rel="stylesheet" media="screen">
        <title>To-Do lists</title>
    </head>
	<body>
		<div class="row">
			<div class="span12">
				{% block content %}

				{% endblock %}
			</div>
		</div>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{ STATIC_URL }}common/bootstrap2/js/bootstrap.min.js"></script>
	</body>
</html>
